# Environment variables
# Keep your secret keys and other sensitive info out of version control!
.env

# Database file
database.db

# Python artifacts
__pycache__/
*.py[cod]

# IDE and editor directories
.vscode/
.idea/